/* ============= RESET ============= */
* { margin: 0px; padding: 0px; font-size: 100%; border: none; outline: none;; font-weight: 400; box-sizing: border-box;}
/* ============= RESET ============= */

/* ============= FONTS ============= */
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url('http://fonts.googleapis.com/css?family=Lato:300,400,700');
}



body{ 	font-family: 'Open Sans', sans-serif;font-size: 16px;  font-weight: 700;}
/* ============= FONTS ============= */



/* ============= COLUNAS ORDER ============= */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
}
.row {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: 0px;margin-left: 0px;}
.col {-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;}
.order-12 {-ms-flex-order: 12;order: 12;}
.order-1 {-ms-flex-order: 1;order: 1;}


/* ============= COLUNAS ============= */
.row::after {
  content: "";
  clear: both;
  display: flex;
}
[class*="col-"] {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* ============= COLUNAS ============= */

/* ============= OFFSET COLUNAS ============= */
.col-offset-1{margin-left: 8.33%;}
.col-offset-2{margin-left: 16.66%;}
.col-offset-3{margin-left: 25%;}
.col-offset-4{margin-left: 33.33%;}
.col-offset-5{margin-left: 41.66%;}
.col-offset-6{margin-left: 50%;}
.col-offset-7{margin-left: 58.33%;}
.col-offset-8{margin-left: 66.66%;}
.col-offset-9{margin-left: 75%;}
.col-offset-10{margin-left: 83.33%;}
.col-offset-11{margin-left: 91.66%;}
.col-offset-12{margin-left: 100%;}


.input100{width: 100%;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.clearfix{clear: both;}
.img-circle{border-radius: 50%;}
.top5{margin-top: 5px;}
.top10{margin-top: 10px;}
.top15{margin-top: 15px;}
.top20{margin-top: 20px;}
.top25{margin-top: 25px;}
.top30{margin-top: 30px;}
.top35{margin-top: 35px;}
.top40{margin-top: 40px;}
.top45{margin-top: 45px;}
.top50{margin-top: 50px;}
.top60{margin-top: 60px;}
.top80{margin-top: 80px;}
.top135{margin-top: 135px;}
.top145{margin-top: 145px;}
.top165{margin-top: 165px;}



.bottom10{margin-bottom: 10px;}
.bottom15{margin-bottom: 15px;}
.bottom20{margin-bottom: 20px;}
.bottom25{margin-bottom: 25px;}
.bottom30{margin-bottom: 30px;}
.bottom50{margin-bottom: 50px;}
.bottom100{margin-bottom: 100px;}


.padding0{padding: 0px;}
.pg10{padding: 10px;}
.bg10{margin: 10px;}
.pg15{padding: 15px;}


.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb40{padding-bottom:40px;}

.pt15{padding-top:15px;}
.pt20{padding-top:20px;}

.right2{margin-right: 2px;}
.right5{margin-right: 5px;}
.right10{margin-right: 10px;}

.left5{margin-left: 5px;}
.left10{margin-left: 10px;}
.left15{margin-left: 15px;}
.left20{margin-left: 20px;}

.left40{margin-left: 40px;}


.pr10{padding-right: 10px}

.pl{padding-left: 10px}

.pull-left{float: left;}
.pull-right{float: right;}

.media, .media-body {overflow: hidden;zoom: 1;}
.media {margin-top: 15px;}
.media-body, .media-left, .media-right {display: table-cell;vertical-align: middle;}
.media-object {display: block;}
.media-middle {vertical-align: middle;}
.media-left, .media>.pull-left {padding-right: 10px;}
img {vertical-align: middle;}
.font-weight-bold {
  font-weight: 700;
}
input,textarea,select{font-family: 'Roboto Condensed', sans-serif;font-size: 16px;  font-weight: 700;}
form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 16px;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}
.overflow{
  overflow: auto;
  height: 100%;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.list-group-item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem .5rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e9ecef;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}
th {
  text-align: left;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: block;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: .63rem
}

.carousel-preview button{
  margin-top: .13rem;
}


.styled-select select {
  background: transparent;
  width: 100%;
  padding: 5px;
  color: #7f7e81;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
}

.styled-select {
  width: 100%;
  overflow: hidden;
  background: #eeeeee url(../imgs/icon_localizacao.png) top 0.63rem  left 0.38rem no-repeat;
  border: 1px solid #ccc;
  height: 3.19rem;
  border: 0.01rem solid #000;
  color: #000;
  padding: 0.69rem 1.38rem;
  margin-bottom: 0.5rem ;
  margin-top: 0.07rem;
}


.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 1px .31rem;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary{
  background: #283239;
  color: #fff;
}

.btn{
  border-radius: 0;
}

.text-uppercase {text-transform: uppercase;}
.text-capitalize{text-transform: capitalize;}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 10px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.thumbnail .caption {
  padding: 5px;
  color: #333;
}

.relativo{position: relative;}
.form-control-feedback{
  position: absolute;
  color: #000;
  top: 1.13rem;
  left: 0.63rem /* 10/16 */;
}


h1{color:#fff;font-size: 2.25rem /* 36/16 */;line-height: 32px;letter-spacing: 0;font-weight: 700;text-shadow:1px 2px 5px #0f0f0f;}
h1 span{letter-spacing: 0;font-size: 1.06rem /* 17/16 */;line-height: 1.06rem /* 17/16 */;color: #252525;text-shadow:1px 1px 2px #cecece;}
h2{font-size: 1.06rem;color: #fff;line-height: 1.06rem /* 17/16 */;font-weight: 700;text-shadow:1px 2px 5px #0f0f0f;}
h3{font-size: 1.5rem /* 24/16 */;line-height: 1.63rem /* 26/16 */;letter-spacing: -1px;color: #252525;font-weight: 700;}
h4{font-size: 1.31rem;color: #252525;font-weight: 700;}
h5{font-size: 2.25rem;font-weight: 700;color: #252525;}
h6 {font-size: 2rem /* 32/16 */;line-height: 1.88rem /* 30/16 */;letter-spacing: -1px;font-weight: 700;color: #fff;text-shadow:1px 2px 5px #0f0f0f}
h6 span {line-height: 32px;color: #fef922;font-weight: 700;}

p{font-size: 1.25rem;font-weight: 300;color: #000;text-align: justify;}
p span{font-size: 1.13rem;font-weight: 400;color: #fff;text-align: justify;}

a, a:visited{text-decoration: none;}

.lightbox {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
