/* =============== EMPRESA =============== */

.localizacao-pagina {
  /*height: 11.47rem;*/
  padding-top: 1rem;
}

.localizacao-pagina1 {
  height: 9.50rem;
  padding-top: 4.19rem /* 67/16 */;
}

.titulo_emp h1{
  color: #fff;
  font-size: 2.38rem;
  font-weight: 700;
}
.titulo_emp h2{
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
}

.titulo_emp h6 span{
  font-size: 1.81rem;
}

.bg_cinza{
  background: #f5f5f5;
  position: relative;
}

.bg_amarelo_empresa {
  background: #ffea00;
  padding:  20px 0 20px 0;
  padding-bottom: 20px;
  position: relative;
}

.bg_amarelo_empresa h2 span {
  color: #252525;
  font-size: 24px;
}

.btn_sobreposto_empresa {
  position: absolute;
  top: 3rem;
  left: 0;
}

.btn_sobreposto_empresa_servico {
  position: absolute;
  top: 3rem;
  left: 0;
}

.btn_empresa {
  width: 100%;
}

.btn_empresa_servico {
  color: #040404;
  background: #f7f7ef;
  font-size: 22px;
  border: 4px solid #ffea00;
  width: 100%;
}
.bloco_amarelo {
  position: absolute;
  bottom: 0;
  left: 1.13rem;
  background: #fef922;
  height: 12.5rem;
  width: 18rem;
}

.desc_empresa p{
  font-size: .94rem /* 15/16 */;
  font-weight: 400;
  letter-spacing: 0;
}

.input-form{height: 3.19rem; background: none; border: 1px solid #6e6e6c; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.input-form1{height: 3.19rem; background: #ffffe0;border: 1px solid #6e6e6c; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.campo-textarea{padding-top: 10px;height: 8rem}
.btn_formulario{position: absolute;bottom: 0;border-radius: 0;font-size: .75rem;color: #080801;padding: .63rem 2.06rem;background: #fef922;font-weight: 700;cursor: pointer;}
.orcamento-input .input-form{ padding: 0.13rem 1.013rem;}
.trabalhe_conosco b{font-size: .88rem; color: #000;}
/* CONTATO */
form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 0.21rem;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}
/* CONTATO */
.btn_prod_solicitar_orcamento{background: #002953; color: #fff; display: block; width: 100%;}
.btn_prod_ligar{background: #b0001d; color: #fff; display: block; width: 100%;}
.input-lista-prod-orcamentos{background: #001d33;color: #fff; width: 1.88rem ; height: 1.88rem ; text-align: center;}

.tabela-orcamento tbody tr td {
  border-top:  0;
  border-bottom: 1px solid #fffc98;
  padding: 4px;
  font-size: .63rem;
}

.fa-times-circle:before {
  color: #ff0000
}

.tabela-orcamento tbody tr{
  border-bottom: 1px solid #002953;
}

.bg-index {
  background: url("./imgs/bg-index.jpg") top center no-repeat;
  width: 100%;
}

.bg_home{
  background: url("./imgs/fundo_transparente.png") top center;
}

.font-index{
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.font-index p{
  color: #fefb00;
  text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
  font-size: .94rem;
  font-weight: 700;
  line-height: 1.06rem /* 17/16 */;
  letter-spacing: 0;
  text-align: center;

  text-shadow: 1px 0px 0px #000,
                 -1px 0px 0px #000,
                 0px 1px 0px #000,
                 0px -1px 0px #000;

}


.index-bg-icones {
  min-height: 10px;
  padding: 0;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  text-align: center;
  color: #000;
  font-size: 3.5em;
}

.index-bg-icones1 {
  min-height: 19px;
  padding: 5px 7px;
  margin-bottom: 5px;
  background-color: #fef922;
  border: 1px solid #fef922;
  border-radius: 10px;
  text-align: center;
}
.desc_empresa h2{
  color: #252525;
  text-shadow: none;
  font-size: 1.13rem /* 18/16 */;
  font-weight: 700;
  letter-spacing: -1px;
}

.menu_contatos {
  background: #643e36;
  padding: 20px 10px;
  text-align: center;
}

.menu_trabalhe{
  background: #643e36;
  opacity: .5;
  cursor: pointer;
  border: 0px;
  padding: 20px 5px;
  text-align: center;
}


.menu_contatos .media,.menu_trabalhe .media{
  margin:  0;
}

.trabalhe_conosco .form-control-feedback{
  position: absolute;
  color: #000;
  top: 1.25rem /* 20/16 */;
  left: 0.63rem /* 10/16 */;
}

.curriculo b{
  position: absolute;
  left: .13rem /* 2/16 */;
}

.curriculo input{
  padding-top: 0.88rem;
}


.total-resultado-busca span,.total-resultado-busca h1{
  font-weight: 700;
  color: #0f0f0f;
  font-size:1.13rem;
}

.desc-empresa{
  margin-top: 270px;
}



.categorias_produtos .nav-link h4 {
  font-size: 14px;
}

.categorias_produtos .nav-link{
  padding: 0;
}

.produtos h1{
  font-size: .94rem;
  color: #000;
}

.btn_saiba_mais {
  font-size: 12px;
  color: #6e6e6e;
}

.btn_produtos_home img {
  clear: both;
  border-radius: 5px;
  width: 259px;
}

.desc_titulo_home {
  height: 1.94rem;
  overflow: hidden;
}

.localizacao-pagina-produtos h2 span{
  color: #fff;
  font-size: 1.25rem;
}

.localizacao-pagina-produtos h1{
  font-size: .88rem;
}

.btn_fechar {
  background: #fdf944;
  font-weight: 700;
  font-size: 1.13rem;
  color: #070707;
  border-radius: 3.13rem;
  position: absolute;
  top: 22px;
  right: 9px;
  z-index: 99;
}

#my-lightbox a,#my-lightbox .fa-phone:before{
  color: #040404;
}

.bg_branco{
  background: #fff;
}

.menu_lateral{
  background: #fff;
  padding-top: 0;
}

.menu_lateral .list-group-item:first-child{
  margin-top: 0px;
}

.menu_lateral .list-group-item {
  background-color: #fff;
  border: 4px solid #fef922;
  color: #252525;
  margin-top: 8px;
  padding: .44rem .5rem;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.menu_lateral .ativo{
  background-color: #e2cd2d;
  color: #fff;
  cursor: default;
}

.menu_lateral .list-group-item.active{
  z-index: 2;
  color: #252525;
  background-color: #fef922;
  font-weight: 700;
}

a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

.menu_lateral .list-group-item:hover {
  z-index: 2;
  color: #252525;
  background-color: #fef922;
  font-weight: 400;
}

.btn_nao_encontrado{
  color: #000;
  background: #fef923;
}

.bg_produtos_home1 {
  background: url(../imgs/bg_transparente.png);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0;
  min-height: 50px;
}

.btn_sobreposto1 {
  position: absolute;
  top: 2.06rem;
  left: 0px;
  width: 100%;
}

.nossos_produtos h1 {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}

.btn_saiba_mais1 {
  font-size:12px;
  color: #eeeeee;
  background: #252525;
}

.dicas_dentro P{
  font-size: .94rem;
  color: #000;
  font-weight: 400;
}


.container_metade_esquerda {
  width: 100%;
  background: #eaeae5;
  position: absolute;
  margin-left:  -103px;
  height: 100%;
  top: 35px;
  left:  50%;
  z-index: -1;
}

.container_metade_direita {
  width: 100%;
  background: #eaeae5;
  position: absolute;
  margin-right: -103px;
  height: 100%;
  top: 35px;
  right: 50%;
  z-index: -1;
}

.servicos h3 span {
  font-size: 1rem;
  font-weight: 700;
  color: #252525;
  line-height: 1.19rem /* 19/16 */;
  letter-spacing: -1px;
}

.servicos h4 {
  font-size: 13px;
  font-weight: 400;
}

.btn_saiba_mais_servicos {
  font-size: 12px;
  color: #252525;
  background: #fef922;
  padding: 10px 30px;
}

.servicos p {
  color: #252525;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0;
}
.servicos a amp-img {
  border-bottom: 6px solid #fef922;
}

.servico_dentro h5{
  line-height: 30px;
  letter-spacing: 0;
}

.lista-produto-titulo h1{
  font-size: 1.63rem;
  color: #252525;
  text-shadow: none;
}
