.topo{ text-align: center;padding: 0px 0px 0px 0px;}
.rodape{background: #fef922; height: 40px; color: #fff; position: fixed; bottom: 0px;padding: 0; }
.rodape a{color: #252525; text-decoration: none; font-size: .88rem;font-weight: 700;}
.separador-rodape{height: 3.13rem;}
.btn-topo{background: none; color: #fff; margin-top: .75rem;}

.menu-mobile-principal{background: #fef922;}
.menu-mobile li{
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
}
.menu-mobile li a:visited, .menu-mobile li a{color: #001d33;font-size: 1rem;}
.bg_topo{background:#282828;height: 4.19rem;}
